@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  justify-content: start;
}
@mixin colum-center{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin align-center{
    display: flex;
      align-items: center;

}