<div class="card_container">
    <!-- IMAGE Start -->
  <div class="card_image">
    <img src="../img/card.png" alt="" />
  </div>
  <!-- IMAGE END -->
  <div class="card_input">
    <div class="input_header">
      <div class="input_header_text">Quick Transfer</div>
      <div class="input_header_button">
        <button class="point">
          <img src="../img/icons/other/point.svg" alt="" />
        </button>
      </div>
    </div>
    <!--  -->
      <div class="input_main_header">
        <input
          type="text"
          id="number"
          name="number"
          placeholder="573489534789"
        />
        <div class="input_main_bottom">
          <div class="input_main_bottom_left">
            <input type="text" id="number_2" name="number_2" value="356.87" />
          </div>
          <!--  -->
          <div class="input_main_bottom_right">
            <div class="input_main_bottom_right_block">
              <div class="input_main_bottom_right_text">Currency</div>
              <div class="input_main_bottom_right_button">
                <button class="arrow_3">
                  <img src="../img/icons/other/arrowdown.svg" alt="" />
                </button>
              </div>
            </div>
            <div class="input_main_bottom_right_bottom_block">USDC</div>
          </div>
          <!--  -->
        </div>
      </div>
      
    
    <!--  -->
    <div class="card_button">
        <button class="btn btn_dark">Deposit</button>
        <button class="save_adress">Save this address</button>
    </div>
  </div>
</div>
