<section class="recent_transactions_container">
    <div class="recent_transactions">
        <div class="recent_transactions_header_text">
            Recent Transactions
        </div>
        <div class="recent_transactions_view">
            <div class="recent_transactions_view_text">View All</div>
            <div class="recent_transactions_view_arrow">
                <button class="arrow"><img src="../img/icons/other/arrowdown.svg" alt="" /></button>
            </div>
        </div>
    </div>
    <div class="recent_transactions_tablet">
        <div>
            <table>
                <tr class="header_row">
                    <th>Wallet ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
        
        
                </tr>
                <tr>
                    <th><span>DY04210S0XA5</span><span class="number_transactions">Hash: 2111853732263042</span></th>
                    <td class="Date_tablet">May 23, 2022</td>
                    <td class="amount_tablet">$250.00</td>
                    <td class="status">Completed</td>
        
                </tr>
                <tr>
                    <th><span>PILMA81KS4JA</span><span>Hash: 0348408522616817</span></th>
                    <td class="Date_tablet">May 19, 2022</td>
                    <td class="amount_tablet">$980.00</td>
                    <td class="status">Completed</td>
        
                </tr>
                <tr>
                    <th><span>JV72FR6TIL1S</span><span>Hash: 1555845473775037</span></th>
                    <td class="Date_tablet">May 15, 2022</td>
                    <td class="amount_tablet">$290.00</td>
                    <td class="status fail">Failed</td>
        
                </tr>
        
            </table>
        </div>
    </div>
</section>