<nav class="nav">
  <div class="logo">
    <div class="logo_main_menu">
      <div class="logo_main_img">
        <a href="#"> <img src="../img/icons/other/logo.svg" alt="" /></a>
      </div>
      <div class="logo_text">
        <a href="#"> EasyPay</a>
      </div>
    </div>
  </div>
  <div class="search_sidebar">
    <form>
      <input type="search" placeholder="Search transactions..." />
      <button type="submit">Search</button>
    </form>
  </div>
  <input type="checkbox" id="click" />
  <label for="click" class="menu-btn">
    <div class="text_menu_burger">Menu</div>
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    <li>
      <a href="#"><span class="main_menu_icon"><img src="../img/icons/sidebar/1.svg" alt="" /></span><span
          class="main_menu_text"></span>Dashboard</a>
    </li>
    <li>
      <a href="#"><span class="main_menu_icon"><img src="../img/icons/sidebar/2.svg" alt="" /></span><span
          class="main_menu_text">Transactions</span></a>
    </li>
    <li>
      <a href="#"><span class="main_menu_icon"><img src="../img/icons/sidebar/3.svg" alt="" /></span><span
          class="main_menu_text">Transfer</span></a>
    </li>
    <li>
      <a href="#"><span class="main_menu_icon"><img src="../img/icons/sidebar/4.svg" alt="" /></span><span
          class="main_menu_text">Deposit</span></a>
    </li>
    <li>
      <a href="#"><span class="main_menu_icon"><img src="../img/icons/sidebar/5.svg" alt="" /></span><span
          class="main_menu_text">Withdraw</span></a>
    </li>
    <li>
      <a href="#"><span class="main_menu_icon"><img src="../img/icons/sidebar/6.svg" alt="" /></span><span
          class="main_menu_text">Payments</span></a>
    </li>
    <li>
      <a href="#"><span class="main_menu_icon"><img src="../img/icons/sidebar/7.svg" alt="" /></span><span
          class="main_menu_text">Messages</span></a>
    </li>
      <li>
        <a href="#"><span class="main_menu_icon"><img src="../img/icons/sidebar/account.svg" alt="" /></span><span
            class="main_menu_text"></span>Account</a>
      </li>
      <li>
        <a href="#"><span class="main_menu_icon"><img src="../img/icons/sidebar/setting.svg" alt="" /></span><span
            class="main_menu_text">Settings</span></a>
      </li>
  </ul>
  
  
  
  
</nav>