<main class="main_block">
  <div class="totalBalance">
    <!-- HEADER -->
    <div class="main_header_text">
      <h2>Total Balance</h2>
      <div class="main_header_bottom_text">
        <div class="header_bottom_text">USDC Balance</div>
        <div class="header_bottom_arrow">
          <button class="arrow"><img src="../img/icons/other/arrowdown.svg" alt="" /></button>
        </div>
      </div>
    </div>
<!-- HEADER -->
<!-- ? ================== MIDDLE -->
    <div class="main_middle_balance">
        <div class="count_balance"> 54,819.74 <span>USDC</span></div>
        <div class="wallet_id">Wallet ID: 2QVT7C0LOWEJ</div>
    </div>
    <!-- ? ================== MIDDLE -->
    <!-- * ================== button -->
    <div class="button">
        <button class="btn btn_dark">Deposit</button>
        <button class="btn btn_ligth">Withdraw</button>
    </div>
    <!-- * ================== button -->
  </div>
</main>
