<section class="transfers">
    <!-- todo==================================== -->
    <div class="transfers_head">
        <!-- * ============== Text -->
        <div class="transfers_head_top">Transfers</div>
        <!-- * ================Text end -->
        <!-- ?===================== -->
        <div class="transfers_head_bottom">
            <div class="transfers_head_bottom_left">Scheduled Transfers</div>
            <!-- todo =============== BUTTON & TEXT -->
            <div class="transfers_head_bottom_right">
                View All
<div class="header_bottom_arrow">
    <button class="arrow"><img src="../img/icons/other/arrowdown.svg" alt="" /></button>
</div>
            </div>
            <!-- todo =============== BUTTON & TEXT -->
        </div>
        <!-- ?================ -->
    </div>
    <!-- TABLE -->
    <div class="transfers_tablet">
<table>
    
    <tr>
        <th><span>L05PL0PE0ZCV</span><span class="number_transactions">May 23, 2022 at 06:25 am</span></th>
        <td class="ammount_transfer">- $223.00</td>
        

    </tr>
    <tr>
        <th><span>LCFYO7IA2ILF</span><span>May 15, 2022 at 11:00 pm</span></th>
        <td class="ammount_transfer">- $754.90</td>
       

    </tr>
   

</table>
    </div>
    <!-- Table -->
</section>